# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Movie Posters
data/ml-100k/img/
static/img/
.idea/
.ipynb_checkpoints/
static/img.zip
local_copy.sqlite